@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* PSA: signupstyle is different from styles */

/* All text properties within the CSS */

h1, p1, p2{
    font-family: 'Inter', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 32px;
    font-weight: bold;
}

p1{
    font-size: 14px;
    font-weight: regular;
}

p2{
    font-size: 14px;
    font-weight: regular;
    margin-top: 30px;
}

/* for body bg colour */

body{
    background-image: url(images/blurbg.png);
    background-repeat: round;
    background-attachment: fixed;
}

/* custom card layout */

.customized-card{
    background-repeat: round;
    background-attachment: fixed;
    box-shadow: 0px 0px 64.7px 0px rgba(0, 0, 0, 0.25);
    margin: 70px;
}

/* input field and button properties */

.usernamebox, .passwordbox, .usernamebox1{
    margin-left: auto;
    margin-right: auto;
}

.usernamebox1{
    margin-top: 30px;
    margin-bottom: 16px;
    width: 400px;
}

.usernamebox{
    margin-bottom: 16px;
    width: 400px;
}

.passwordbox{
    width: auto;
}

.actionbar{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 38px;
}

.loginbutton{
    margin-left: auto;
    margin-right: auto;
}

/* Image properties */

.giflogo{
    width: 9.3125rem;
    height: 9.3125rem;
    margin-bottom: 2rem;
    flex-shrink: 0;
}