@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* All text properties within the CSS */

h1, p1, p2{
    font-family: 'Inter', sans-serif;
}

h1{
    font-size: 32px;
    font-weight: bold;
}

p1{
    font-size: 18px;
    font-weight: regular;
}

p2{
    font-size: 16px;
    font-weight: regular;
    margin-top: 30px;
}

/* for body bg colour */

body{
    background: #D9D9D9;
}

/* custom card layout */

.customized-card{
    background: #FFF;
    box-shadow: 0px 0px 64.7px 0px rgba(0, 0, 0, 0.25);
}

/* input field and button properties */

.usernamebox, .passwordbox{
    margin-left: 50px;
    margin-right: 20px;
}

.usernamebox{
    margin-top: 60px;
    margin-bottom: 30px;
    width: 400px;
}

.passwordbox{
    width: auto;
}

.buttons{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 20px;
}