@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* All text properties within the CSS */

h1, p1, p2, p6, .cancelbutton{
    font-family: 'Inter', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 32px;
    font-weight: bold;
}

p1{
    font-size: 18px;
    font-weight: regular;
}

p6{
    font-size: 14px;
    font-weight: bold;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

/* for body bg colour */

body{
    background-image: url(images/blurbg.png);
    background-attachment: fixed;
}

/* custom card layout */

.customized-card{
    background: #FFF;
    box-shadow: 0px 0px 64.7px 0px rgba(0, 0, 0, 0.25);
    width: auto;
    height: auto;
    margin: 60px;
}

/* input field and button properties */
/* classes are self explainatory lol */

.inputfields{
    margin-left: auto;
    margin-right: auto;
}

.usernamebox{
    margin-top: 60px;
    margin-bottom: 30px;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
}

.passwordbox{
    width: auto;
    margin-left: 2rem;
    margin-right: auto;
}

.actionbar{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 2.5rem;
    margin-right: auto;
}

.createacc{
    color: blue;
    text-decoration-line: underline;
    margin-left: auto;
    margin-right: auto;
}

.usernamebox1{
    margin-top: 30px;
    margin-bottom: -30px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.forgotbox{
    margin-top: 30px;
    width: 390px;
    margin-left: auto;
    margin-right: auto;
}

.forgotbox1{
    margin-top: 30px;
    width: 390px;
    margin-left: auto;
    margin-right: auto;
}

.line{
    width: 14.125rem;
    height: 0.0625rem;
    background: #b8b8b8;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.addfirst{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.addsubsequent{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.addsameline{
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.naurbutton{
    margin-top: 3rem;
    color: red;
    font-weight: regular;
}

.gaurbutton{
    margin-top: 3rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.cancelornot{
    margin-top: 6rem;
    margin-left: 4rem;
}

.lastactions{
    margin-bottom: 3rem;
}

/* Image properties */

.logo{
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.giflogo{
    width: 9.3125rem;
    height: 9.3125rem;
    margin-bottom: 2rem;
    flex-shrink: 0;
}

.logoadd{
    width: 100px;
    height: 100px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}