@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-image: url('images/bright.png');
    font-family: 'Inter', sans-serif;
}

body.bright {
    background-image: url('images/bright.png');
}

body.grayscale {
    background-image: url('images/grayscale.png');
}

.container{
    background-color: #171717;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0px 0px 167.9px 15px rgba(0, 0, 0, 0.28);
}

#modalVideo {
    width: 100%;
    height: auto;
}

.calculator {
    margin-top: 100px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    position: relative; /* position relative for moving text */
}

p1 {
    position: relative;
    top: 50%;
    left: 0;
    animation: moveText 5s linear infinite;
    color: aliceblue;
}

@keyframes moveText {
    0% {
        left: 0;
    }
    50% {
        left: calc(100% - 100px);
    }
    100% {
        left: 0;
    }
}

.btn {
    width: 80px;
    height: 80px;
    font-size: 24px;
    margin: 5px;
    border-radius: 50%;
    padding: 0;
}

.grey{
    background-color: lightgrey !important;
    border-color: none !important;
    color: #171717 !important;
}

.orange{
    background-color: orange !important;
    border-color: none !important;
    color: white !important;
    margin-right: 2rem;
}

.supergrey{
    background-color: #4d4d4d !important;
    border-color: none !important;
    color: white !important;
}

.zerobut{
    width: 182px;
    border-radius: 50px;
}

.buttongroup{
    margin-top: 3rem;
}

.btn-primary{
    font-size: 15px;
}

.btn-secondary{
    font-size: 14px;
}

.change-background{
    margin-top: 30px;
    margin-left: 34rem;
}