/* All Text Properties within the HTML File below */

h1{                             /* Info of BUKSU Text */
    font-size: 30px;
}

h2{                             /* Info of Class Sched */
    color: rgb(0, 163, 163);
}

p{                             /* Info of BUKSU Address */
    font-size: 14px;
    margin-bottom: 4px;
}

p1{                             /* Info of BUKSU Contact Details */
    font-size: 14px;
}

p2, p4, p6, p8{                 /* Make Name, Year, etc. to be bold */
    font-weight: bold;
}

p2, p3{                         /* Info of Name */
    position: relative;
    left: 10rem;
    top: -1rem;
}

p4, p5{                         /* Info of BSIT Year */
    position: relative;
    left: 10rem;
    top: -1rem;
}

p6, p7{                         /* Info of Student # */
    position: relative;
    left: 50rem;
    top: -4rem;
}

p8, p9{                         /* Info of Section Code */
    position: relative;
    left: 50rem;
    top: -4rem;
}

/* All image properties within the HTML File below */

.logoleft{
    width: 100px;
    height: 100px;
}

.logoright{
    width: 100px;
    height: 100px;
}

/* For header (katung BukSU logo and Text) margins*/

.header{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* Class Card Properties */

.classcard{
    margin-bottom: 20px;
    border-color: rgb(0, 163, 163);
    border-width: 2px;
}

/* Table Colours */

.table{                 /* Para ma black ang colour sa text ug borders */
    color: #171717;
    border-color: #171717;
}

.red{                 /* just like "required" sa forms, need butngan ug !important para ma override ang bootstrap default */
    background-color: red !important;
}

.green{
    background-color: lightgreen !important;
}

.teal{
    background-color: teal !important;
}

.yellow{
    background-color: yellow !important;
}

.lightblue{
    background-color: lightblue !important;
}

.aquagreen{
    background-color: aqua !important;
}

.violet{
    background-color: darkmagenta !important;
    color: #ffffff !important;
}

.poopbrown{
    background-color: rgb(73, 0, 0) !important;
    color: #ffffff !important;
}

